

<header class="header-container">


  <!-- Section héro avec carousel -->

  <div class="hero-section">
    <swiper-container #swiperContainer
                      [init]="true"
                      [pagination]="true"
                      [effect]="'fade'"
                      [autoplay]="{ delay: 2000, disableOnInteraction: false }">
      <swiper-slide *ngFor="let slide of heroSlides; let i = index">
        <div class="slide-content" [style.background-image]="'url(' + slide.image + ')'">
          <div class="slide-overlay">
            <div class="slide-content-inner">
              <span class="slide-subtitle">{{slide.subtitle}}</span>
              <h2 class="slide-title" style="color: #ffffff !important;opacity: 1">{{slide.title}}</h2>
              <p class="slide-description">{{slide.description}}</p>
              <div class="slide-cta">
                <button class="cta-button primary">Découvrir les collections</button>
                <button class="cta-button secondary">Prendre mes mensurations</button>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>

</header>
