<div class="app-container">
  <mat-toolbar class="app-toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">HAUTE COUTURE</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button>
      <mat-icon matBadge="2" matBadgeColor="warn">notifications</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #drawer class="app-sidenav" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
        <a mat-list-item routerLink="/collections" routerLinkActive="active">
          <mat-icon matListItemIcon>style</mat-icon>
          <span>Collections</span>
        </a>
        <a mat-list-item routerLink="/clients" routerLinkActive="active">
          <mat-icon matListItemIcon>people</mat-icon>
          <span>Clients</span>
        </a>
        <a mat-list-item routerLink="/mensurations" routerLinkActive="active">
          <mat-icon matListItemIcon>straighten</mat-icon>
          <span>Mensurations</span>
        </a>
        <a mat-list-item routerLink="/calendar" routerLinkActive="active">
          <mat-icon matListItemIcon>event</mat-icon>
          <span>Calendrier</span>
        </a>
        <a mat-list-item routerLink="/settings" routerLinkActive="active">
          <mat-icon matListItemIcon>settings</mat-icon>
          <span>Paramètres</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="app-sidenav-content">
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>