<article *ngFor="let model of models"  class="model-card">
  <div class="model-image">
    <img [src]="model.image1" [alt]="model.name">
    <div class="hover-info">
      <span class="price">{{model.prix_max}}€</span>
      <button class="details-btn" (click)="onDiscoverClick(model)">Voir les détails</button>
    </div>
  </div>
  <div class="model-info">
    <h3>{{model.name}}</h3>
    <!-- Utiliser la méthode getStylisteName pour récupérer le nom du styliste -->
    <p>Par {{getStylisteName(model.styliste_id)}}</p>
  </div>
</article>