<article
  class="designer-card"
  [class.expanded]="isSelected"
  (mouseenter)="isSelected = true"
  (mouseleave)="isSelected = false">

  <div class="card-background">
    <div class="image-wrapper">
      <img
      *ngIf="designer?.profile_picture_url"
      class="profile-photo"
      [src]="getProfilePhotoUrl()"
      alt="{{ designer?.user.first_name }}"
    />
      <div class="image-overlay"></div>
    </div>
  </div>

  <div class="card-initial-content">
    <div class="designer-initials">{{ getDesignerInitials(designer?.user.first_name || '') }}</div>
    <h3 class="designer-name">{{designer?.user.first_name}}</h3>
    <span class="designer-location">{{designer?.user.address}}</span>
  </div>

  <div class="card-expanded-content">
    <div class="content-header">
      <h3 class="designer-name-large">{{designer?.user.first_name}}</h3>
      <p class="designer-title">{{designer?.titre}}Haute couture</p>
    </div>

    <div class="content-body">
      <div class="specialties">
            <span
              *ngFor="let specialty of getSpecializationsDisplay()"
              class="specialty-tag">
              {{specialty}}
            </span>
      </div>

      <div class="stats-grid">
        <div class="stat-item">
          <span class="stat-value">{{designer?.collections}}</span>
          <span class="stat-label">Collections</span>
        </div>
        <div class="stat-item">
          <span class="stat-value">{{designer?.awards}}</span>
          <span class="stat-label">Prix</span>
        </div>
      </div>
    </div>

    <div class="content-footer">
      <button class="discover-button" (click)="onDiscoverClick(designer)">
        <span class="button-text">Découvrir</span>
        <span class="button-icon">→</span>
      </button>
    </div>
  </div>
</article>